.top-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  height: 150px;
  cursor: pointer;
  margin: 0 20px;
  box-shadow: var(--semi-shadow-elevated);
  background-color: var(--semi-color-nav-bg);
  border: 1px solid var(--semi-color-border);

  &-compare{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    
    .left{
      margin-right: 6px;
      color: rgba(var(--semi-grey-5), 1);
    }
  }
  &-total{
    font-size: 32px;
    margin: 4px 0;
    font-weight: 800;
  }

  &-title{
    font-size: 22px;
    font-weight: 600;
    color: rgba(var(--semi-grey-9), 1);
  }

}